PORT=3000

# don't worry this is not a private key
VITE_CLERK_PUBLISHABLE_KEY=pk_test_aG9uZXN0LWJhc3MtMzYuY2xlcmsuYWNjb3VudHMuZGV2JA

CLERK_JWKS_URL=https://honest-bass-36.clerk.accounts.dev/.well-known/jwks.json

POSTGRES_CONNECTION_STRING=postgres://postgres:postgres@localhost:5432/postgres

# Ask your teammates for these values :)
SGID_CLIENT_ID=
SGID_CLIENT_SECRET=
SGID_PRIVATE_KEY=

CARELY_JWT_SECRET="your_jwt_secret_here"
FRONTEND_HOST="http://localhost:5173"
BASE_URL="http://localhost:3000"